:root {
  --bg-color : #DDD;
  --bg-secondary : #eee;
  --text : black;
  --text-secondary : rgb(40, 40, 40);
  --btn-bg : rgb(40, 40, 40);
  --btn-text : #DDD;
  --accent : rgb(85, 180, 164);
  --accent-secondary : rgb(51, 116, 105);
  --shadow : rgba(0, 0, 0, 0.085);
}

[theme="dark"] {
  --bg-color : black;
  --bg-secondary : rgb(40, 40, 40);
  --text : white;
  --text-secondary : #eee;
  --btn-bg : #eee;
  --btn-text : black;
  --shadow : rgba(255, 255, 255, 0.085);
}

* {
  height: auto;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text);
  transition: background-color 0.25s ease-in-out;
}